.lojasProximas{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}
.spanLojas{
    font-size: 1.9rem;
}
.tituloLojas{
    text-align: start;
    margin-top: 150px;
    margin-left: 80px;
    height: 10px;
}
.verMaisLojas{
    text-align: end;
    margin-right: 100px;
    color: #F57D00;
}